*{
    margin: 0;padding: 0;
}
/* 顶部导航栏 */
.top{
    width: 1920px;
    height: 70px;
    background: #ffffff;
    position:fixed;
    top: 0px;left: 0px;  
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
}

header div ul li,#logo{
    float: left;
    list-style: none;
    margin-right: 8%;
}

header div ul {
    width: 700px;
    position: absolute;
    top: 24.5px;left: 960px;
}


header div ul li a{
    text-decoration: none !important;
    color: #333333
}
header div ul li a:hover{
    color: #2f82ff
}
#nav_1{
    /* 单独标签权值提升 */
    color: #2f82ff
}


#logo{
    position: absolute;
    top: 17.5px;left: 260px;
}


.top{
    z-index:100
}
header:after{
    content:"";
    display: block;
    clear: both;
}

/* banner部分 */
.container-fluid{
    margin: 0 !important;padding: 0 !important;
    position: fixed;
    top: 70px;
}

/* fours部分 成就简介 */
.fours{
    width: 1920px;
    height: 203px;
    background: #ffffff;
    position: absolute;
    top:770px
}
.fours ul{
    width: 1200px;
    height: 103px;
    position: absolute;
    left:360px;top:50px;
    list-style: none;
}
.fours ul li{
    float: left;
    width: 280px;
    margin: 0 9px;
    text-align: center;  
    color:#999999;
    font-weight: lighter;
    font-size: 25px;
    line-height: 50px;
}
#li_1{
    border-right: 1px solid #b8b8b8
}
#li_2{
    border-right: 1px solid #b8b8b8
}
#li_3{
    border-right: 1px solid #b8b8b8
}

/* 产品服务 Product_service */
.Product_service{
    width: 1920px;height:600px;
    background: #f3f3f3;
    position: absolute;
    top:973px;
}
.Product_service p{
    text-align: center
}

#Product_service_1{
    font-size: 50px;
    padding-top:80px;
    color:#333333;
    font-weight: lighter
}
#Product_service_2{
    font-size: 16px;
    padding-top: 25px;
    color:#999999;
    font-weight: lighter;
    
}

/* no.1 */
#animation_service_1_1{
    width: 200px;height: 200px;
    border-radius: 35px;
    background-image:url(icon1.png);
    position: absolute;
    top:250px;left:300px;
    transition-property: all;
    transition-duration: 0.4s;
}
#animation_service_1_1:hover{
    width: 200px;height: 300px;
    background-image:url(icon01.png);
    border-radius: 35px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    
}
/* no.2 */
#animation_service_2_1{
    width: 200px;height: 200px;
    border-radius: 35px;
    background-image:url(icon2.png);
    position: absolute;
    top:250px;left:1420px;
    transition-property: all;
    transition-duration: 0.4s;
}
#animation_service_2_1:hover{
    width: 200px;height: 300px;
    background-image:url(icon22.png);
    border-radius: 35px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    
}

/* no.3 */
#animation_service_3_1{
    width: 200px;height: 200px;
    border-radius: 35px;
    background-image:url(icon3.png);
    position: absolute;
    top:250px;left:675px;
    transition-property: all;
    transition-duration: 0.4s;
}
#animation_service_3_1:hover{
    width: 200px;height: 300px;
    background-image:url(icon33.png);
    border-radius: 35px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    
}
/* no.4 */
#animation_service_4_1{
    width: 200px;height: 200px;
    border-radius: 35px;
    background-image:url(icon4.png);
    position: absolute;
    top:250px;left:1040px;
    transition-property: all;
    transition-duration: 0.4s;
}
#animation_service_4_1:hover{
    width: 200px;height: 300px;
    background-image:url(icon44.png);
    border-radius: 35px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    
}

/* 精品案例  Excellent_case*/
.Excellent_case{
    width: 1920px;height:1200px;
    background: #ffffff;
    position: absolute;
    top:1570px;
}
.Excellent_case p{
    text-align: center
}

#Excellent_case_1{
    font-size: 50px;
    padding-top:80px;
    color:#333333;
    font-weight: lighter
}
#Excellent_case_2{
    font-size: 16px;
    padding-top: 25px;
    color:#999999;
    font-weight: lighter;
}

.Excellent_case div  a img{
    width: 640px;height: 309px;
    border-radius: 6px;
}

/* 案例1 */
.Excellent_case .case1 a img{
    position: absolute;
    top: 300px;left: 213px;
    box-shadow:  0 3px 4px rgba(117, 29, 29, 0.2);
    transition-duration: 1s;
}
.Excellent_case .case1 a img:hover{
    transform: scale(1.1);

}
.Excellent_case .case1 .case1_p1{

    position: absolute;
    top:630px;left: 440px;
    color: #333333;
    font-size: 24px;
}
.Excellent_case .case1 .case1_p2{
    position: absolute;
    top:670px;left: 420px;
    color: #999999;
    font-size: 16px;
}

/* 案例2 */
.Excellent_case .case2 a img{
    position: absolute;
    top: 300px;left: 1080px;
    box-shadow:  0 3px 4px rgba(117, 29, 29, 0.2);
    transition-duration: 1s;
}
.Excellent_case .case2 a img:hover{
    transform: scale(1.1);

}
.Excellent_case .case2 .case2_p1{

    position: absolute;
    top:630px;left: 1330px;
    color: #333333;
    font-size: 24px;
}
.Excellent_case .case2 .case2_p2{
    position: absolute;
    top:670px;left: 1310px;
    color: #999999;
    font-size: 16px;
}

/* 案例3 */
.Excellent_case .case3 a img{
    position: absolute;
    top: 750px;left: 1080px;
    box-shadow:  0 3px 4px rgba(117, 29, 29, 0.2);
    transition-duration: 1s;
}
.Excellent_case .case3 a img:hover{
    transform: scale(1.1);

}
.Excellent_case .case3 .case3_p1{

    position: absolute;
    top:1080px;left: 1330px;
    color: #333333;
    font-size: 24px;
}
.Excellent_case .case3 .case3_p2{
    position: absolute;
    top:1120px;left: 1340px;
    color: #999999;
    font-size: 16px;
}

/* 案例4 */
.Excellent_case .case4 a img{
    position: absolute;
    top: 750px;left: 213px;
    box-shadow:  0 3px 4px rgba(117, 29, 29, 0.2);
    transition-duration: 1s;
}
.Excellent_case .case4 a img:hover{
    transform: scale(1.1);

}
.Excellent_case .case4 .case4_p1{

    position: absolute;
    top:1080px;left: 440px;
    color: #333333;
    font-size: 24px;
}
.Excellent_case .case4 .case4_p2{
    position: absolute;
    top:1120px;left: 410px;
    color: #999999;
    font-size: 16px;
}


/* 服务流程 */
.Service_process{
    width: 1920px;height:600px;
    background: #f3f3f3;
    position: absolute;
    top:2770px;
}
.Service_process p{
    text-align: center
}

#Service_process_1{
    font-size: 50px;
    padding-top:80px;
    color:#333333;
    font-weight: lighter
}
#Service_process_2{
    font-size: 16px;
    padding-top: 25px;
    color:#999999;
    font-weight: lighter;
}
/* 流程1 */
.Service_process .process1 img{
    position: absolute;
    top: 250px;left: 450px;
}
.Service_process .process1 .process1_p1{

    position: absolute;
    top:410px;left: 475px;
    color: #333333;
    font-size: 24px;
}
.Service_process .process1 .process1_p2{
    position: absolute;
    top:450px;left: 450px;
    color: #999999;
    font-size: 16px;
    font-weight: lighter;
}

/* 流程2 */
.Service_process .process2 img{
    position: absolute;
    top: 250px;left: 740px;
}
.Service_process .process2 .process2_p1{

    position: absolute;
    top:410px;left: 765px;
    color: #333333;
    font-size: 24px;
}
.Service_process .process2 .process2_p2{
    position: absolute;
    top:450px;left: 740px;
    color: #999999;
    font-size: 16px;
    font-weight: lighter;
}

/* 流程3 */
.Service_process .process3 img{
    position: absolute;
    top: 250px;left: 1030px;
}
.Service_process .process3 .process3_p1{

    position: absolute;
    top:410px;left: 1055px;
    color: #333333;
    font-size: 24px;
}
.Service_process .process3 .process3_p2{
    position: absolute;
    top:450px;left: 1030px;
    color: #999999;
    font-size: 16px;
    font-weight: lighter;
}

/* 流程4 */
.Service_process .process4 img{
    position: absolute;
    top: 250px;left: 1320px;
}
.Service_process .process4 .process4_p1{

    position: absolute;
    top:410px;left: 1345px;
    color: #333333;
    font-size: 24px;
}
.Service_process .process4 .process4_p2{
    position: absolute;
    top:450px;left: 1320px;
    color: #999999;
    font-size: 16px;
    font-weight: lighter;
}

/* 广告内容 */
.advertising{
    width: 1920px;height:2000px;
    background: #ffffff;
    position: absolute;
    top:3370px;
}
/* 广告内容1 */
.advertising_1{
    width: 1920px;height:600px;
    position: absolute;
    top:0;left: 0;
    text-align: center;
}
#advertising_1_1{
    color: #ffffff;
    font-size:45px;
    font-weight: 100;
    position: absolute;
    top:200px;left: 760px;
}
#advertising_1_2{
    color: #ffffff;
    font-size:20px;
    font-weight: 100;
    position: absolute;
    top:340px;left: 613px;
}
#advertising_1_3{
    color: #ffffff;
    font-size:20px;
    font-weight: 100;
    position: absolute;
    top:375px;left: 775px;
}
#advertising_1_4{
    width: 210px;height: 50px;
    border-radius: 6px;
    border:1px solid #ffffff;
    position: absolute;
    top:430px;left: 860px;
    font-size: 24px;
    font-weight: 100;
    color: #ffffff;
    line-height: 50px;
    text-decoration: none;
}
#advertising_1_4:hover{
    background: rgba(00, 00, 00, 0.2);
    transition-property: all;
    transition-duration: 0.5s;
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);   
}
/* 广告内容2 */
.advertising_2{
    width: 1920px;height:800px;
    position: absolute;
    top:600px;left: 0;
    text-align: center;
}
#advertising_2_1{
    color: #333333;
    font-size: 58px;
    font-weight: 100;
    margin-top:100px
}
#advertising_2_2{
    color: #666666;
    font-size: 22px;
    font-weight: 100;
    margin-top:30px
}
#advertising_2_3{
    color: #666666;
    font-size: 22px;
    font-weight: 100;
    margin-top:10px
}
#advertising_2_4{
    margin-top:30px
}

/* 广告内容3 */
.advertising_3{
    width: 1920px;height:600px;
    background: #ffffff;
    position: absolute;
    top:1450px;left: 0;
    text-align: center
 
}

#advertising_3_1{
    color: #ffffff;
    font-size: 58px;
    font-weight: 100;
    margin-top:100px;
    position:absolute;
    top:0;left: 755px; 
    ;
}
#advertising_3_2{
    color: #ffffff;
    font-size: 22px;
    font-weight: 100;
    margin-top: 220px;
    position: absolute;
    top: 0;
    left: 660px;
   
}
#advertising_3_3{
    color: #ffffff;
    font-size: 22px;
    font-weight: 100;
    margin-top: 200px;
    position: absolute;
    top: 58px;
    left: 790px;
    
}
#advertising_3_4{
    width: 210px;height: 50px;
    border-radius: 6px;
    border:1px solid #ffffff;
    position: absolute;
    top:430px;left: 860px;
    font-size: 24px;
    font-weight: 100;
    color: #ffffff;
    line-height: 50px;
    text-decoration: none;
}
#advertising_3_4:hover{
    background: #ffffff;
    color:#333333;
    transition-property: all;
    transition-duration: 0.5s;
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);   
}

/* 底部 */
.footer{
    width: 1920px;height:300px;
    background: #999999;
    position: absolute;
    top:5420px;
    text-align: center
}

.footer img{
    margin-top: 90px;
    width:12%;
}
.footer p{
    margin-top: 20px;
color: #ffffff;
}






